* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container1 {
    background-color: #eeeeee;
}

.container2 {
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.container3{
    width: 69%;
    margin: 0 auto;
    z-index: 0;
}

.info {
    width: 69%;
    margin: 0 auto;
    /* width: 100%; */
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startitems {
    display: flex;
}

.info li {
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    color: #666671;
    margin: 0 5px;
}

.info img {
    position: relative;
    width: 20px;
    margin: 0 5px;
    top: 6px;
}

.eng {
    /* border: 1px solid red; */
    border: none;
    height: 100%;
    padding: 0 10px;
    border-left: 0.5px solid rgba(128, 128, 128, 0.450);
    border-right: 0.5px solid rgba(128, 128, 128, 0.450);
    background-color: white;
}

.eng:hover {
    border: none;
    cursor: pointer;
}

.navbar {
    display: flex;
    width: 69%;
    height: 80px;
    /* height: 10vh; */
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.navlist{
    color: #666671;
    font-size: 14px;
    display: flex;
    /* width: 60%; */
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    margin-right: 20px;
    list-style: none;
}
.navvv{
    display: flex;
}
.navbar img {
    width: 200px;
}
.navbar button{
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    font-weight: 500;
    border-radius: 7px;
    padding: 10px 30px;
    border: 1px solid #0d6db7;
}
.donate{
    background-color: #0d6db7;
}
.spnsr{
    background-color: #8dc63f;
}
.section1{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */

}
.section1 img{
    height: 520px;
}
.text{
    width: 48%;
}
h1{
    font-size: 38px;
    font-weight: 500;
}
h2{
    font-weight: 500;
    font-size: 24px;
}
.greentheme{
    color: #a0cf5f;
}
.bluetheme{
    color: #0d6db7;
}
.text h1{
    color: #262626;
    margin-bottom: 19px;
}
.text h2{
    margin: 28.8px  0 12px;
}
.text p{
    text-align: justify;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 16px;
}
.text button{
    border-radius: 7px;
    width: 190px;
    border: 1px solid black;
    padding: 15px 40px 15px 25px;
    background-color: white;
    color: #424242;
    line-height: 1.5;
    background-image: url(./images/rightarrow.png);
    background-position: 80%;
    background-size: 12px;
    background-repeat: no-repeat;

}
.section2 button{
    /* padding: 16px 32px; */
    border: 7px;
    font-weight: 500;
    background-color: white;
    border-radius: 8px;
}
.section2{
    display: flex;
    padding: 30px;
    margin-top: 20px;
    background-color: #f0fcdb;
    width: 100%;
    border: none;
    border-radius: 8px;
}
#dnt{
    background-color: #a0cf5f;
}
#general{
    width: 315px;
    background-color: #424242;
}
#gendnt{
    height: 100%;
}