* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container1 {
    background-color: #eeeeee;
}

.container2 {
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.container3 {
    width: 69%;
    margin: 0 auto;
    z-index: 0;
}

.info {
    width: 69%;
    margin: 0 auto;
    /* width: 100%; */
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startitems {
    display: flex;
}

.info li {
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    color: #666671;
    margin: 0 5px;
}

.info img {
    position: relative;
    width: 20px;
    margin: 0 5px;
    top: 6px;
}

.eng {
    /* border: 1px solid red; */
    border: none;
    height: 100%;
    padding: 0 10px;
    border-left: 0.5px solid rgba(128, 128, 128, 0.450);
    border-right: 0.5px solid rgba(128, 128, 128, 0.450);
    background-color: white;
}

.eng:hover {
    border: none;
    cursor: pointer;
}

.navbar {
    display: flex;
    width: 69%;
    height: 80px;
    /* height: 10vh; */
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.navlist {
    color: #666671;
    font-size: 14px;
    display: flex;
    /* width: 60%; */
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    margin-right: 20px;
    list-style: none;
}

.navvv {
    display: flex;
}

.navbar img {
    width: 200px;
}

.navbar button {
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    font-weight: 500;
    border-radius: 7px;
    padding: 10px 30px;
    border: 1px solid #0d6db7;
}

.donate {
    background-color: #0d6db7;
}

.spnsr {
    background-color: #8dc63f;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/carousal_background.d77d94e41c5a71ae581f.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 100%; */

}

.section1 img {
    height: 520px;
}

.text {
    width: 48%;
}

h1 {
    font-size: 38px;
    font-weight: 500;
}

h2 {
    font-weight: 500;
    font-size: 24px;
}

.greentheme {
    color: #a0cf5f;
}

.bluetheme {
    color: #0d6db7;
}

.text h1 {
    color: #262626;
    margin-bottom: 19px;
}

.text h2 {
    margin: 28.8px 0 12px;
}

.text p {
    text-align: justify;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 16px;
}

.text button {
    border-radius: 7px;
    width: 190px;
    border: 1px solid black;
    padding: 15px 40px 15px 25px;
    background-color: white;
    color: #424242;
    line-height: 1.5;
    background-image: url(./images/rightarrow.png);
    background-position: 80%;
    background-size: 12px;
    background-repeat: no-repeat;

}

.buttons button {
    padding: 16px 32px;
    /* border: 1px solid black; */
    border: none;
    font-weight: 500;
    background-color: white;
    border-radius: 10px;
}

.section2 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 40px;
    font-size: 14px;
    background-color: #f0fcdb;
    width: 100%;
    border: none;
    gap: 25px;
    border-radius: 8px;
}

#dnt {
    background-color: #a0cf5f;
    color: white;
}

#general {
    width: 315px;
    height: 50px;
    color: white;
    border-radius: 8px;
    background-color: #424242;
    border: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.buttons button {
    transition: transform 0.3s, box-shadow 0.3s;
}

.buttons button:hover {
    background-color: #424242;
    transition: 0.5s ease;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
}

#gendnt {
    height: 100%;
    padding: 15px;
    /* border: 1px solid black; */
}

#gendnt:focus {
    outline: none;
}

#general span:first-of-type {
    position: relative;
    right: 15px;
}

#general span:last-of-type {
    position: relative;
    left: 15px;
}

.thalassemia {
    width: 100%;
    margin: 20px 0;
}

.section3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.section3 p {
    font-size: 30px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.services {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
    width: 100%;
}

.services>div:first-of-type {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 20px;
    /* border: 1px solid blue; */
    justify-content: space-between;
}

.servicebox {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
    align-items: center;
    justify-content: center;
    background-color: #f0fcdb;
    width: 196px;
    height: 152px;
    gap: 10px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.servicebox:hover {
    transform: scale(1.1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}


.fundbox {
    position: relative;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #666671;
    transition: transform 0.3s, box-shadow 0.3s;
}

.fundbox:hover {
    transform: scale(1.1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

.fundbox button {
    width: 98%;
    border: none;
    padding: 12px 0;
    background-color: #8dc63f;
    color: white;
    border-radius: 8px;
    font-weight: 400;
    margin: 10px 0;
}

#fund1 {
    background-image: url(./images/waterplant.jpg);
    background-size: contain;
    background-position: center;
}

#fund2 {
    background-image: url(./images/itcourses.jpg);
    background-size: contain;
    background-position: center;
}

#fund3 {
    background-image: url(./images/zakat.jpg);
    background-size: contain;
    background-position: center;
}


.overlay {
    padding-left: 15px;
    width: 415px;
    height: 300px;
    display: flex;
    border-radius: 10px;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.5);
}

.overlay span {
    font-weight: 600;
}

.image {
    border-top-left-radius: 10%;
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 497px;
}

.image div {
    width: 50%;
    height: 50%;
    position: absolute;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    background-color: #8dc63f;
    top: 0;
}

.image h1 {
    font-size: 24px;
    font-weight: 600;
    width: 50%;
    position: inherit;
    top: 10%;
    right: 25%;
}

.otherproject {
    margin: 20px 0;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.otherproject h3 {
    font-size: 30px;
    font-weight: 500;
}

.otherproject h5 {
    color: #0d6db7;
    font-size: 16px;
    font-weight: 600;
}

.otherproject p {
    font-size: 14px;
    text-align: left;
    font-weight: 400;
}

.pjttext {
    width: 50%;
}

.pjttext>div {
    display: flex;
    justify-content: space-between;
    margin: 1% 0 5% 0;
    gap: 25px;
    align-items: flex-start;
}

.pjttext img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    box-sizing: content-box;
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 12px;
}

.section4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 20px 0;
    height: 517px;
    width: 100%;
    background-color: #0d6db7;
    background-image: url(./images/upcoming_background.a669f19ea2aee3c7e10f.png);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
}

.section4 h3 {
    font-size: 24px;
}

.section4 p {
    font-size: 15px;
}

.section4 img {
    box-sizing: content-box;
    background-color: white;
    border-radius: 50%;
    overflow: visible;
    padding: 30px;
}

.section4>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.testimonials {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.testimonials>p {
    color: #8dc63f;
    font-size: 16px;
}

.testimonials>h2 {
    color: #262626;
    font-weight: 600;
}

.director {
    height: 440px;
    background-color: #eeeeee;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.director img {
    width: 120px;
    border-radius: 50%;
}

.director p {
    width: 90%;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.25;
}

.director h3 {
    color: #0d6db7;
    font-weight: 600;
}

.footer {
    height: 355px;
    width: 100%;
    background-color: #424242;
    margin-top: 50px;
    background-image: url(./images/upcoming_background.a669f19ea2aee3c7e10f.png);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}

.contentfoot {
    padding-top: 30px;
    width: 69%;
    height: 280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contentfoot>div:first-child {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
}

.contentfoot .saylanilogo {
    width: 300px;
    margin-bottom: 30px;
}

.footnav {
    display: flex;
    width: 65%;
    gap: 50px;
    justify-content: flex-start;
}

.footnav>div {
    height: 300px;
    width: 250px;
    color: white;
}

#twitter {
    width: 50px;
    background-color: #50bac3;
    border-radius: 15%;
}

#youtube {
    width: 50px;
    background-color: #e36955;
    border-radius: 15%;
}

#fb {
    width: 50px;
    border-radius: 15%;
}

.footer ul {
    list-style: none;
    font-size: 14px;
}

.footnav li {
    padding: 5px 0;
}

.footnav span {
    font-weight: 600;
    font-size: 20px;
}

.overlay2 {
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.2);
}

.end {
    height: 75px;
    padding-top: 20px;
}